src/main/java/com/github/mcaserta/versionlounge/xml/projects.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="projects">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="project" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="project">
        <xs:complexType>
            <xs:attribute type="xs:string" name="id" use="required"/>
            <xs:attribute type="xs:string" name="svnTagsDirUrl" use="required"/>
            <xs:attribute type="xs:string" name="svnUser" use="optional"/>
            <xs:attribute type="xs:string" name="svnPass" use="optional"/>
            <xs:attribute type="xs:string" name="tagName" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>